

<% doctor.appointments.includes(:patient).each do |appointment| %>
  <tr>
    <td>
      <%= "Appointment##{appointment.id}" %>
    </td>
    <td>
      <%= patient.name %>
    </td>
    <td>
      <%= appointment.active ? "Yes" : "No" %>
    </td>
    <td>
      <%= appointment.recommendation.present? ? appointment.recommendation : "Empty" %>
    </td>
  </tr>
<% end %>
