<h1>My Profile</h1>

<p><strong>Name:</strong> <%= @user.name %></p>

<p><strong>Appointments:</strong></p>

<table>
  <tr>
    <th>Appointment ID</th>
    <th>Doctor name</th>
    <th>Active</th>
    <th>Recommendation</th>
  </tr>
  <% if @user.role == Patient.name %>
    <%= render "patient", patient: @user %>
  <% elsif @user.role == Doctor.name %>
    <%= render "doctor", doctor: @user %>
  <% end %>
</table>
