<h1>My Profile</h1>

<p><strong>Name:</strong> <%= @user.name %></p>


<% if @user.patient? %>
  <%= render "patient", patient: @user %>
<% elsif @user.doctor? %>
  <%= render "doctor", doctor: @user %>
<% end %>
