<footer>
	<p>
		<span class="footer-text">
			© <%= Date.today.year %>
		</span>
		<span class="footer-text">
			<%= link_to 'YaroslavHospital™', "https://github.com/BarryLev/hospital" %>.
		</span>
		<span class="footer-text">
			All Rights Reserved.
		</span>
	</p>
</footer>
