<footer class="footer fixed-bottom mt-auto py-3 bg-light border border-top">
	<div class="container">
		<p class="text-center">
			<span class="footer-text">
				© <%= Date.today.year %>
			</span>
			<span class="footer-text">
				<%= link_to 'YaroslavHospital™', "https://github.com/BarryLev/hospital" %>.
			</span>
			<span class="footer-text">
				All Rights Reserved.
			</span>
		</p>
	</div>
</footer>
