<header>
  <nav class="navbar navbar-light bg-light border border-bottom">
    <div class="container">
      <%= link_to root_path do %>
        <i class="bi bi-calendar-plus home-icon"></i>
      <% end %>
      <% if !user_signed_in? %>
        <div class="d-flex">
          <div class="px-2">
            <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
          </div>
          <div class="px-2">
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %>
          </div>
        </div>
      <% else %>
        <div>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
