<h1>Welcome to the Yaroslav's hospital</h1>

<h2>Doctors</h2>
<p>Get list of our doctors by categories</p>
<%= link_to "Doctors", categories_path %>

<h2>Profile</h2>
<p>View your profile</p>
<%= link_to "Doctors", categories_path %>
