<h1>Welcome to the Yaroslav's hospital</h1>
<% if current_user&.admin? %>
  <h2>Logged in as admin</h2>
  <h2>Admin</h2>
  <p>Go to the admin page</p>
  <%= link_to "Admin", admin_root_path %>
<% else %>
  <h2>Doctors</h2>
  <p>Get list of our doctors by categories</p>
  <%= link_to "Doctors", categories_path %>

  <% if current_user.present? %>
    <h2>Profile</h2>
    <p>View your profile</p>
    <%= link_to "Profile", user_path(current_user.id) %>
  <% end %>
<% end %>
