<table class="table w-25 mx-auto">
  <thead class="bg-light">
    <tr>
      <th scope="col">Doctors</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td>
          <%= link_to doctor.name, doctor_path(doctor) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
