<table class="table w-25 mx-auto">
  <thead class="bg-light">
    <tr>
      <th scope="col">Categories</td>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to category.name, doctors_path(category_id: category.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
